<div class="ovt-status-info" [class.stopped]="status === 'UNLOADED'">
  <div class="status-label">
    <mat-progress-bar mode="indeterminate"></mat-progress-bar>
    <span [ngSwitch]="status">
      <span *ngSwitchCase="'RUNNING'">
        Running
      </span>
      <span *ngSwitchCase="'PENDING'">
        Loading
      </span>
      <span *ngSwitchCase="'UNLOADED'">
        Unloaded
      </span>
    </span>
  </div>
  
  <button mat-icon-button (click)="stop()">
    <mat-icon>stop</mat-icon>
  </button>
  
</div>
