<div class="ovt-console">
  <mat-toolbar>
    <button mat-button (click)="clearLogs()">
      <mat-icon>delete</mat-icon>
      <span>Clear</span>
    </button>
    <button mat-button class="info-button" [class.active]="infoCount && showInfos"
      [disabled]="infoCount === 0" (click)="toggleInfo()">
      <mat-icon>info</mat-icon>
      <span>{{ infoCount }} info</span>
    </button>
    <button mat-button class="error-button" [class.active]="errorCount && showErrors"
      [disabled]="errorCount === 0" (click)="toggleError()">
      <mat-icon>cancel</mat-icon>
      <span>{{ errorCount }} errors</span>
    </button>
    <mat-checkbox class="example-margin"
      [checked]="autoScroll"
      (change)="toggleAutoScroll($event.checked)"
      color="primary">
      auto-scroll
    </mat-checkbox>
    <span class="spacer"></span>
    <button mat-icon-button (click)="closeConsole()">
      <mat-icon>close</mat-icon>
    </button>
  </mat-toolbar>
  <div class="ovt-console-body" [ovtScrollWhen]="consoleOpened && lastLog" [enabled]="autoScroll">
    <mat-list>
      <div *ngFor="let logItem of logs | filterLogs : showErrors : showInfos">
        <div [ngSwitch]="logItem.logType">
          <ovt-log-entry *ngSwitchCase="'INFO'" [info]="logItem"></ovt-log-entry>
          <ovt-error-entry *ngSwitchCase="'ERROR'" [error]="logItem"></ovt-error-entry>
        </div>
        <mat-divider></mat-divider>
      </div>
    </mat-list>
  </div>
</div>
